@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container .table-wrap {
    margin: 20px auto;
    overflow-x: auto
}

.container .table-wrap::-webkit-scrollbar {
    height: 5px
}

.container .table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(to right, #5D7ECD, #0C91E6)
}

img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.w100 {
    max-width: 100px;
    min-width: 100px;
}

.w350 {
    max-width: 550px;
    min-width: 550px;
}

.btn.btn-primary.h-1 {
    background-color: #FB0778;
    color: white;
    font-size: 14px;
    border: none;
    padding: 2px 10px;
}

.btn.btn-primary.h-1:hover {
    background-color: #ee1a7d;
}

.btn.btn-primary.h-2 {
    background-color: #f8d303;
    color: white;
    font-size: 14px;
    border: none;
    padding: 2px 10px;
}

.btn.btn-primary.h-2:hover {
    background-color: #c5b140;
}

.btn.btn-primary.h-3 {
    background-color: #6f00ff;
    color: white;
    font-size: 14px;
    border: none;
    padding: 2px 10px;
}

.btn.btn-primary.h-3:hover {
    background-color: #7638c9;
}

.bg-pink {
    height: 10px;
    width: 10px;
    background-color: #ee1a7d;
}

.bg-yellow {
    height: 10px;
    width: 10px;
    background-color: #f8d303;
}

.bg-violet {
    height: 10px;
    width: 10px;
    background-color: #6f00ff;
}


.btn.btn-secondary.pink {
    background-color: transparent;
    font-size: 12px;
    border: none;
    background-color: #f5cade;
    color: #ee1a7d;
    width: 100%;
    padding: 5px 15px;
}

.btn.btn-secondary.violet {
    background-color: transparent;
    font-size: 12px;
    border: none;
    color: #7638c9;
    background-color: #d8c6f0;
    width: 100%;
    padding: 5px 15px;
}

.btn.btn-secondary.yellow {
    background-color: transparent;
    font-size: 12px;
    border: none;
    background-color: #f7ecb1;
    color: #f88e03;
    width: 100%;
    padding: 5px 15px;
}
@media(min-width: 992px) {
    .container .table-wrap {
        overflow: hidden;
    }
}
