{% load query_transform %}

{% if is_paginated %}
  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="col-lg-4 mx-auto">
        <ul class="pagination pagination-secondary m-4">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">
                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
              </a>
            </li>
          {% endif %}
          <li class="page-item active">
            <span class="page-link">{{ page_obj.number }} </span>
          </li>
          {% if page_obj.has_next %}
            <li class="page-item">
              <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">
                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
