{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

  {% include "includes/navigation.html" %}

  <header class="bg-gradient-dark">
    <div class="page-header section-height-75" style="background-image: url('static/img/task-management.webp');">
      <span class="mask bg-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Make your work easier</h1>
            <p class="lead mb-4 text-white opacity-8">Create tasks for you and your team. Organize your work and be productive</p>
            <button type="submit" class="btn bg-white text-dark">Get started</button>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  <body>
    <section class="section section-lg pt-0">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-lg-4 text-center">
                  <div class="icon-box mb-4">
                      <div class="icon icon-primary mb-4 fa-2x">
                          <span class="fas fa-user"></span>
                      </div>
                      <h3 class="h5">Team Members</h3>
                      <span class="counter display-3 text-gray d-block">{{ num_workers }}</span>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 text-center">
                  <div class="icon-box mb-4">
                      <div class="icon icon-primary mb-4 fa-2x">
                          <span class="fas fa-money-check"></span>
                      </div>
                      <h3 class="h5">Tasks Available</h3>
                      <span class="counter display-3 text-gray d-block">{{ num_tasks }}</span>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 text-center">
                  <div class="icon-box mb-4">
                      <div class="icon icon-primary mb-4 fa-2x">
                          <span class="fas fa-laptop"></span>
                      </div>
                      <h3 class="h5">Task Types</h3>
                      <span class="counter display-3 text-gray d-block">{{ num_task_types }}</span>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </body>

{% endblock content %}
