{% extends "base.html" %}
{% load static %}

{% block title %} Task Board {% endblock %}

{% block content %}
  <div class="row">
    <div style="width: 18%;">
      {% include "includes/sidebar.html" %}
    </div>
    <div style="width: 82%">
      <header>
        <div class="page-header min-height-300">
          <span class="mask bg-gradient-success opacity-6"></span>
        </div>
      </header>

      <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
        <section class="py-sm-7 py-5 position-relative">
          <div class="container">
            <div class="row">
              <div class="col-12 mx-auto">
                <div style="float: right" class="mt-n6">
                  {% include "includes/search_form.html" %}
                </div>
                <br><br>
                <div class="col-lg-9 col-md-9 z-index-2 position-relative px-md-1 px-sm-5 mx-auto mb-2">
                  <br>
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="mb-2">Positions</h2>
                    <div class="row">
                      <a style="width: 40px; height: 40px; box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 153, 0, 0.32)" href="{% url 'task_manager:position-create' %}" class="btn btn-white mx-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg mx-n4" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                    {% if position_list %}
                      <p class="mb-6">Learn about duties in your team!</p>
                    {% else %}
                      <p class="mb-6">There are no positions yet!</p>
                    {% endif %}

                  {% for position in position_list %}
                  <div class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <h5 class="mb-3"><i>{{ position.name }}</i></h5>
                      <div class="row">
                        <a style="width: 40px; height: 40px; box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 153, 0, 0.32)" href="{% url 'task_manager:position-update' pk=position.id %}" class="btn btn-white mx-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen mx-n4" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg>
                        </a>
                        <a style="width: 40px; height: 40px; box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 153, 0, 0.32)" href="{% url 'task_manager:position-delete' pk=position.id %}" class="btn btn-white mx-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash mx-n4" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <ul class="list-unstyled">
                      {% for duty in position.duties_to_a_list %}
                        <li class="list-item mb-1">
                          <svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg>
                          {{ duty }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <hr class="hr mb-5">
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock content %}
