{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} {{ object|yesno:"Update,Create" }} Position {% endblock %}

{% block content %}

{% include "includes/sidebar.html" %}

  <div class="row">
    <header>
      <div class="page-header min-height-300">
        <span class="mask bg-gradient-success opacity-4"></span>
      </div>
    </header>

    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
      <section class="py-sm-7 py-5 position-relative">
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="row py-5">
                <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto mb-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2 class="mb-4">{{ object|yesno:"Update,Create" }} Position</h2>
                  </div>
                  <br><br>
                  <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit" class="btn bg-gradient-success mx-auto">
                    <a class="btn bg-gradient-danger mx-4" href="{% url 'task_manager:position-list' %}">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


{% endblock content %}
