{% extends "base.html" %}
{% load static %}

{% block title %} Task Board {% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% include "includes/sidebar.html" %}
      </div>
      <div class="col-sm-10">
        <section class="pt-sm-8 pb-5 position-relative bg-white overflow-hidden">
          <span class="mask bg-light opacity-2"></span>
          <div class="container-fluid">
            <div class="row">
              <section class="section section-lg">
              <div class="container">
                <div class="row mb-lg-4 mx-1">
                <div class="col-12 col-md-8 col-lg-8">
                  <h2 style="color:hotpink;" class="h1 mb-2">Task Board</h2>
                  {% if task_list %}
                  <p class="lead">There is always what to do. Choose your task</p>
                  {% else %}
                  <p class="lead">There are no tasks for now!</p>
                  {% endif %}
                </div>
                </div>
              </div>
              <div class="container">
                {% if task_list %}
                  <div style="width:100%" class="container">
                    <div class="row">
                      <div class="col-md-4 mt-3">
                        <button style="width:100%; height: 4%;" class="btn btn-primary h-1 px-2">NEXT UP</button>
                          {% for task in task_list %}
                            {% if not task.is_completed and task.assignees.count == 0 %}
                              <a href="{% url 'task_manager:task-detail' pk=task.id %}">
                                <div class="card mt-3">
                                  <div class="card shadow-primary">
                                  <div style="display: flex; height: 10px" class="mb-4 card-header">
                                    {% if task.priority in "H" %}
                                      <div style="flex: 1; margin-right: 38%" class="avatar-group">
                                        {% for _ in "123" %}
                                          <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <img src="{% static 'img/fire.png' %}">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% elif task.priority in "M" %}
                                      <div style="flex: 1; margin-right: 55%" class="avatar-group">
                                        {% for _ in "12" %}
                                          <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <img src="{% static 'img/fire.png' %}">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% else %}
                                      <div style="flex: 1; margin-right: 60%" class="avatar-group">
                                        <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                          <img src="{% static 'img/fire.png' %}">
                                        </div>
                                      </div>
                                    {% endif %}
                                    <div class="avatar-group">
                                      <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img src="{% static 'img/task_types/'|add:task.task_type.name|add:'.png' %}">
                                      </div>
                                    </div>
                                  </div>
                                  <div style="height: 80px" class="card-body">
                                    <h5 class="h5 text-center"> {{ task.name }}</h5>
                                  </div>
                                  <div style="height: 100px; display:flex;" class="card-footer">
                                    <div style="flex: 1; margin-right: 92px;">
                                      {% if task.days_to_deadline <= 2 %}
                                        <button style="height:75%" class="btn btn-sm bg-gradient-primary">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d'  }}
                                        </button>
                                      {% elif task.days_to_deadline < 5 %}
                                        <button style="height:75%" class="btn btn-sm bg-gradient-warning">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% else %}
                                        <button style="height:75%;" class="btn btn-sm bg-gradient-success">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% endif %}
                                    </div>
                                    <div class="avatar-group">
                                      {% for assignee in task.assignees.all %}
                                        <a href="{% url 'task_manager:worker-detail' pk=assignee.id %}"
                                           class="avatar avatar-sm rounded-circle"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom">
                                        <img src="{% static 'img/team/'|add:assignee.first_name|add:'.jpeg' %}">
                                      </a>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                </div>
                              </a>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="col-md-4 mt-3">
                          <button style="width:100%; height: 4%;" class="btn btn-info h-2 px-2">IN PROGRESS</button>
                          {% for task in task_list %}
                            {% if task.assignees.count > 0 and not task.is_completed %}
                              <a href="{% url 'task_manager:task-detail' pk=task.id %}">
                                <div class="card mt-3">
                                  <div class="card shadow-info">
                                  <div style="display: flex; height: 10px;" class="mb-4 card-header">
                                    {% if task.priority in "H" %}
                                      <div style="flex: 1; margin-right: 38%" class="avatar-group">
                                        {% for _ in "123" %}
                                          <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <img src="{% static 'img/fire.png' %}">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% elif task.priority in "M" %}
                                      <div style="flex: 1; margin-right: 55%" class="avatar-group">
                                        {% for _ in "12" %}
                                          <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <img src="{% static 'img/fire.png' %}">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% else %}
                                      <div style="flex: 1; margin-right: 60%" class="avatar-group">
                                        <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                          <img src="{% static 'img/fire.png' %}">
                                        </div>
                                      </div>
                                    {% endif %}
                                    <div class="avatar-group">
                                      <div style="flex: 1;" class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img src="{% static 'img/task_types/'|add:task.task_type.name|add:'.png' %}">
                                      </div>
                                    </div>
                                  </div>
                                  <div style="height: 80px" class="card-body">
                                    <h5 class="h5 text-center"> {{ task.name }}</h5>
                                  </div>
                                  <div style="height: 100px; display:flex;" class="card-footer">
                                    <div style="flex: 1; margin-right: 92px;">
                                      {% if task.days_to_deadline <= 2 %}
                                        <button style="height:75%" class="btn btn-sm bg-gradient-primary">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% elif task.days_to_deadline < 5 %}
                                        <button style="height:75%" class="btn btn-sm bg-gradient-warning">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% else %}
                                        <button style="height:75%;" class="btn btn-sm bg-gradient-success">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% endif %}
                                    </div>
                                    <div class="avatar-group">
                                      {% for assignee in task.assignees.all %}
                                        <a href="{% url 'task_manager:worker-detail' pk=assignee.id %}" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                          <img src="{% static 'img/team/'|add:assignee.first_name|add:'.jpeg' %}">
                                        </a>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                </div>
                              </a>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="col-md-4 mt-3">
                          <button style="width:100%; height:4%" class="btn btn-success h-3 px-2">COMPLETED</button>
                          {% for task in task_list %}
                            {% if task.is_completed %}
                              <a href="{% url 'task_manager:task-detail' pk=task.id %}">
                                <div class="card mt-3">
                                  <div class="card shadow-success">
                                  <div style="display: flex; height: 10px" class="mb-4 card-header">
                                    {% if task.priority in "H" %}
                                      <div style="flex: 1; margin-right: 38%" class="avatar-group">
                                        {% for _ in "123" %}
                                          <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <img src="{% static 'img/fire.png' %}">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% elif task.priority in "M" %}
                                      <div style="flex: 1; margin-right: 55%" class="avatar-group">
                                        {% for _ in "123" %}
                                          <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <img src="{% static 'img/fire.png' %}">
                                          </div>
                                        {% endfor %}
                                      </div>
                                    {% else %}
                                      <div style="flex: 1; margin-right: 60%" class="avatar-group">
                                        <div class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                          <img src="{% static 'img/fire.png' %}">
                                        </div>
                                      </div>
                                    {% endif %}
                                    <div class="avatar-group">
                                      <div style="flex: 1;" class="avatar avatar-sm" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img src="{% static 'img/task_types/'|add:task.task_type.name|add:'.png' %}">
                                      </div>
                                    </div>
                                  </div>
                                  <div style="height: 80px" class="card-body">
                                    <h5 class="h5 text-center"> {{ task.name }}</h5>
                                  </div>
                                  <div style="height: 100px; display:flex;" class="card-footer">
                                    <div style="flex: 1; margin-right: 92px;">
                                      {% if task.days_to_deadline <= 2 %}
                                        <button style="height:75%" class="btn btn-sm bg-gradient-primary">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% elif task.days_to_deadline < 5 %}
                                        <button style="height:75%" class="btn btn-sm bg-gradient-warning">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% else %}
                                        <button style="height:75%;" class="btn btn-sm bg-gradient-success">
                                          <span class="far fa-calendar-alt"></span>
                                          {{ task.deadline|date:'M d' }}
                                        </button>
                                      {% endif %}
                                    </div>
                                    <div class="avatar-group">
                                      {% for assignee in task.assignees.all %}
                                        <a href="{% url 'task_manager:worker-detail' pk=assignee.id %}" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <img src="{% static 'img/team/'|add:assignee.first_name|add:'.jpeg' %}">
                                      </a>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                </div>
                              </a>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                  </div>
                {% endif %}
              </div>
            </section>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
