{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} Delete {{ tasktype.name }} {% endblock %}

{% block content %}

  <div class="row">
    <div style="width: 18%;">
      {% include "includes/sidebar.html" %}
    </div>
    <div style="width: 82%">
      <header>
        <div class="page-header min-height-300">
          <span class="mask bg-gradient-danger opacity-4"></span>
        </div>
      </header>

      <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
        <section class="py-sm-7 py-5 position-relative">
          <div class="container">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="row py-5">
                  <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="mb-4">Delete <i>{{ tasktype.name }}</i></h2>
                    </div>
                    <p> Are you sure, you want to delete the task - <i><strong>{{ task.name }}?</strong></i></p>
                    <p class="mb-6"><strong style="color: red">Warning!</strong> You won't be able to restore lost information!</p>
                      <input type="submit" value="Confirm" class="btn bg-gradient-success">
                      <a class="btn bg-gradient-danger" href="{% url 'task_manager:task-detail' pk=task.id %}">Cancel</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock content %}