{% extends "base.html" %}
{% load static %}

{% block title %} Task ID: {{ task.id }} {% endblock %}

{% block content %}

  <div class="row">
    <div style="width: 18%;">
      {% include "includes/sidebar.html" %}
    </div>
    <div style="width: 82%">
      <header>
        <div class="page-header min-height-300" style="background-image: url({% static 'img/task-detail.webp' %});">
          <span class="mask bg-gradient-dark opacity-6"></span>
        </div>
      </header>

      <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
        <section class="py-sm-7 py-5 position-relative">
          <div class="container">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="col-lg-9 col-md-9 z-index-2 position-relative px-md-1 px-sm-5 mx-auto mb-2">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h3 class="mb-2">{{ task.name }}</h3>
                    <div class="row">
                      <a style="width: 40px; height: 40px; box-shadow: 0 0.3125rem 0.625rem 0 rgba(51, 153, 255, 0.32)" href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-white mx-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen mx-n4" viewBox="0 0 16 16">
                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                      </a>
                      <a style="width: 40px; height: 40px; box-shadow: 0 0.3125rem 0.625rem 0 rgba(51, 153, 255, 0.32)" href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-white mx-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash mx-n4" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <table class="mx-n2 table table-borderless">
                    <thead>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-muted"><i>Priority</i></td>
                        <td>
                          {% if task.priority in "H" %}
                            <span class="badge bg-primary">{{ task.get_priority_display }}</span>
                          {% elif task.priority in "M" %}
                            <span class="badge bg-warning">{{ task.get_priority_display }}</span>
                          {% else %}
                            <span class="badge bg-success">{{ task.get_priority_display }}</span>
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted"><i>Status</i></td>
                        <td>{% if not task.is_completed and task.assignees.count > 0 %}In Progress{% elif task.is_completed %}Completed{% else %}To Do{% endif %}</td>
                      </tr>
                      <tr>
                        <td class="text-muted"><i>Assignees</i></td>
                        <td>
                          <ul class="list-unstyled">
                            {% for assignee in task.assignees.all %}
                              <li class="list-item mb-2">
                                <a href="{% url 'task_manager:worker-detail' pk=assignee.id %}"
                                 class="text-muted avatar-sm"
                                 title="{{ assignee.first_name }} {{ assignee.last_name }}">
                                  <img style="border-radius: 50% !important;"
                                       src="{% static 'img/team/'|add:assignee.username|add:'.jpeg' %}">
                                  <p style="margin: 3px; display: inline">{{ assignee.first_name }} {{assignee.last_name }}</p>
                                </a>
                              </li>
                            {% endfor %}
                            <li class="list-item mb-2">
                              {% if task in user.tasks.all %}
                                <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}" class="text-muted">
                                  <svg style="margin: 0 3px 4px 7px" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-slash" viewBox="0 0 16 16">
                                    <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                  </svg>
                                  <i class="text-sm">Delete me</i>
                                </a>
                              {% else %}
                                <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}" class="text-muted">
                                  <svg style="margin: 0 3px 4px 7px" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                                  <i class="text-sm">Add me</i>
                                </a>
                              {% endif %}
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted"><i>Due date</i></td>
                        <td>
                          <svg style="margin: 0 3px 4px 0" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                            <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                          </svg>
                          {{ task.deadline }}
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted"><i>Task type</i></td>
                        <td>
                          <i>#{{ task.task_type }}</i>
                        </td>
                      </tr>
                      <tr>
                        {% if task.tags.all %}
                          <td class="text-muted"><i>Tags</i></td>
                          <td>
                            {% for tag in task.tags.all %}
                              <a
                              style="color: white; background-color: rgba(58, 198, 255, .6); border: 1px solid rgba(60, 199, 255, .2); font-size:10px; height:22px; padding:3px 3px; margin: 0"
                              class="btn button-sm"
                              href="{% url 'task_manager:tagged' slug=tag.slug %}">
                              {{ tag.name }}
                              </a>
                            {% endfor %}
                          </td>
                        {% endif %}
                      </tr>
                    </tbody>
                  </table>
                  <hr class="hr mb-4" style="border-bottom: 1px solid rgba(0, 0, 0, .5)">
                  <div class="row mb-4">
                    <h5 class="h5">To do</h5>
                    <p>{{ task.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock content %}
