{% extends "base.html" %}
{% load static %}

{% block title %} Your Team {% endblock %}

{% block sidebar %}
  <div class="row">
    <div>
      {% include "includes/sidebar.html" %}
    </div>
  <div>
{% endblock sidebar %}

{% block content %}
    <div style="width:100%" class="position-absolute w-100 z-index-1 top-0 mt-n3">
      <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-down</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-down">
              <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z" id="Path-Copy-2" transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) "></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
        <section class="pt-sm-8 pb-5 position-relative bg-gradient-dark overflow-hidden">
          <span class="mask bg-white opacity-1"></span>
          <section style="margin-left:4%" class="section section-lg col-md-9 mx-12">
            <div class="container mx-5">
                <div class="row mb-5 mb-lg-3">
                  <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                    <h2 style="color:white" class="h1 mb-4">{{ team.name }}</h2>
                    <p style="color:white" class="lead">Here you can see all members of your team and check their progress</p>
                  </div>
                </div>
                {% if team.workers %}
                  <div class="row">
                    {% for worker in team.workers.all %}
                      <div class="col-lg-6 col-12">
                        <div class="card card-profile mt-4 shadow-lg">
                          <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mt-n5">
                              <a href="{% url 'task_manager:worker-detail' pk=worker.id %}">
                                <div class="p-3 pe-md-0">
                                  <img
                                      class="w-100 h-100 rounded mt-5 shadow-lg"
                                      src="{% static 'img/team/'|add:worker.username|add:'.jpeg' %}"
                                      alt="{{ worker.first_name }} {{ worker.last_name }}">
                                </div>
                              </a>
                            </div>
                              <div class="col-lg-8 col-md-6 col-12 my-auto">
                              <div class="card-body ps-lg-0">
                                <h5 class="mb-0">{{ worker.first_name }}</h5>
                                <a href="{% url 'task_manager:position-list' %}" class="text-muted"><i>#{{ worker.position.name }}</i></a>
                                <ul class="list-unstyled d-flex mt-3 mb-0">
                                  <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                      <span class="fab fa-facebook-f"></span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                      <span class="fab fa-twitter"></span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                      <span class="fab fa-slack-hash"></span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                      <span class="fab fa-dribbble"></span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% else %}
                  <p>There are no members in your team! </p>
                {% endif %}
                <div class="row my-6 mx-4">
                <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
                  <div style="background-color: rgba(255, 255, 255, .9); border: 1px solid black; border-radius: 20px; box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.46);" class="card pb-4">
                    <div style="background-color: transparent; border-radius: 20px;" class="card-header pb-0">
                      <div class="row">
                        <div class="col-lg-12 col-12">
                          <div style="display: inline-flex">
                            <h5 style="font-size: 25px; font-weight:bold;" class="text-dark me-12">TEAM'S PROJECTS</h5>
                            <p class="text-sm mb-0 ms-9">
                              <span style="font-size: 14px; width:34px; height:30px; float: right" class="badge mt-auto ms-12 bg-dark text-white">{{ team.projects.count }}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                      <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Companies</th>
                              <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-8 ps-2">Tasks</th>
                              <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Deadline</th>
                              <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Completion</th>
                              <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-8 ps-2"></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for project in team.projects.all %}
                              <tr>
                              <td class="text-dark">
                                <div class="d-flex px-2 py-1">
                                  <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-strava text-dark" viewBox="0 0 16 16">
                                      <path d="M6.731 0 2 9.125h2.788L6.73 5.497l1.93 3.628h2.766L6.731 0zm4.694 9.125-1.372 2.756L8.66 9.125H6.547L10.053 16l3.484-6.875h-2.112z"/>
                                    </svg>
                                  </div>
                                  <div class="d-flex flex-column justify-content-center mx-3">
                                    <h6 class="mb-0 text-sm text-dark">{{ project.name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="text-center text-dark">{{ project.tasks.count }}</p>
                              </td>
                              <td class="align-middle text-center text-dark text-sm">
                                <svg style="margin: 0 3px 4px 0" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                                  <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                                </svg>
                                <span class="text-xs font-weight-bold text-dark"> {{ project.deadline }} </span>
                              </td>
                              <td class="align-middle">
                                <div class="progress-wrapper w-75 mx-auto">
                                  <div class="progress-info">
                                    <div class="progress-percentage">
                                      <span class="text-xs text-dark font-weight-bold">{{ project.progress }}%</span>
                                    </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-info w-{{ project.progress }}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </div>
                              </td>
                              <td class="text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill text-dark" viewBox="0 0 16 16">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                                </svg>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
        </section>
      </div>
    </div>
{% endblock content %}
