{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Update Account {% endblock %}

{% block content %}

  <div class="row">
    <div style="width: 18%;">
      {% include "includes/sidebar.html" %}
    </div>
    <div style="width: 82%">
      <header>
        <div class="page-header min-height-400" style="background-image: url({% static 'img/profile.webp' %});">
          <span class="mask bg-gradient-dark opacity-6"></span>
        </div>
      </header>

      <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
        <section class="py-sm-7 py-5 position-relative">
          <div class="container">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="mt-n8 mt-md-n9 text-center">
                  <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="{% static 'img/team/'|add:worker.username|add:'.jpeg' %}">
                </div>
                <div class="row py-5">
                  <div class="col-lg-12 d-flex justify-content-center flex-column mx-auto">
                    <div class="card-header pb-0 text-left">
                      <h4 class="font-weight-bolder">Update Account</h4>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post" action="">
                          {% csrf_token %}
                          <div class="form-group row">
                            <div class="col">
                              {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col">
                              {{ form.email|as_crispy_field }}
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col">
                        {{ form.password1|as_crispy_field }}
                      </div>
                            <div class="col">
                        {{ form.password2|as_crispy_field }}
                      </div>
                          </div>
                          <div class="form-group row">
                            <div class="col">
                              {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col">
                              {{ form.last_name|as_crispy_field }}
                            </div>
                          </div>
                          <div class="form-group row">
                              <div class="col">
                                {{ form.position|as_crispy_field }}
                              </div>
                              <div class="col">
                                 {{ form.team|as_crispy_field }}
                               </div>
                            </div>
                          <div class="mx-auto">
                            <input type="submit" class="btn btn-lg bg-gradient-dark mt-4 mb-0" value="Submit">
                            <a href="{% url 'task_manager:worker-detail' pk=worker.id %}" class="btn btn-lg bg-gradient-light mt-4 mb-0 mx-3">Cancel</a>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock content %}
